/.idea/
/build/
/node_modules/
/package-lock.json
/release/
/src/generators/
!/src/generators/readme.md
!/src/generators/tsconfig.json
todo.yml
/src/instruments/types/generated/
/src/backup/
/src/dist/
/src/build
/src/node_modules
/src/base/hd-aircraft-b78xh/html_ui/Pages/VCockpit/Core
/src/base/hd-aircraft-b78x/*.locPak
/src/base/hd-aircraft-b78x/manifest.json
/src/base/hd-aircraft-b78x/layout.json
/src/base/hd-aircraft-b78x/SimObjects/Airplanes/Heavy-Division-B78XH-mod/panel/b78xh.wasm
*.wasm
/out
