/.idea/
/build/
/node_modules/
/package-lock.json
/release/
/src/generators/
!/src/generators/readme.md
!/src/generators/tsconfig.json
todo.yml
/src/instruments/types/generated/
/src/backup/
/src/dist/
/src/build
/src/node_modules
/html_ui/Pages/VCockpit/Core
