[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME BOEING.0.text"
atc_model = "TT:ATCCOM.AC_MODEL_B78X.0.text"
Category = "airplane"
pilot = "Pilot_Female_Uniform"
copilot = "Pilot_Male_Uniform"
instructor = "Pilot_Male_Uniform"
performance = "TODO..."
icao_type_designator = "B78X"
icao_manufacturer = "BOEING"
icao_model = "787-10 Dreamliner"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "H"

[PILOT]
pilot = "Pilot_Female_Uniform"
copilot = "Pilot_Male_Uniform"
instructor = "Pilot_Male_Casual"
pilot_default_animation = "Idle1_PoseAirliner"
copilot_default_animation = "Idle2_PoseAirliner"
pilot_attach_node = "PILOT_0"
copilot_attach_node = "PILOT_1"

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 1
CATERING_TRUCK = 1
BOARDING_RAMP = 1
GROUND_POWER_UNIT = 1
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 1
JETWAY = 1

[EFFECTS]
effect.0 = FX_EXHAUST_LEFT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG

[ALPHA PROTECTION]
off_limit = 13 ; Stick Shaker Min
on_limit = 18 ; Stick Shaker Max

[STALL PROTECTION]
stall_protection = 1 ; Stick Shaker
off_limit = 13 ; Stick Shaker Min
on_limit = 18 ; Stick Shaker Max

[VR]
yoke_anim_x = "HANDLING_YOKE_Lever_StickLR"
yoke_anim_y = "HANDLING_YOKE_Lever_StickForeAft"
yoke_node = "HANDLING_YOKE_1"
yoke_collision_mesh = "HANDLING_Yoke_1_Colision"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Boeing 787-10 Heavy Division" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "Boeing" ; e.g. Boeing, Cessna
ui_type = "TT:AIRCRAFT.UI_MODEL" ; e.g. 747-400, 172
ui_variation = "Heavy Division" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo Studio, Heavy Division" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 41100 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 6430 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 13 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 12350 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "HDX787" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "1123" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

