:root {
    --bodyHeightScale: 1;
    --colorAmber: #feb21d;
}

@keyframes TemporaryShow {
    0%, 100% {
        visibility: visible;
    }
}

@keyframes TemporaryHide {
    0%, 100% {
        visibility: hidden;
    }
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-family: BoeingEICAS;
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}

:root {
    --eicasWhite: white;
    --eicasBlack: black;
    --eicasDarkGrey: #504b6d;
    --eicasLightGrey: #797282;
    --eicasBlue: #69c4ef;
    --eicasGreen: #64ec28;
    --eicasOrange: #db7200;
    --eicasRed: #e8361f;
    --eicasMagenta: #fa0afa;
}

b787-10-nd-element {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
}

b787-10-nd-element #NavPanel {
    position: absolute;
    border: none;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

b787-10-nd-element #NavPanel .border {
    fill: none;
    stroke: black;
    stroke-width: 4px;
}

b787-10-nd-element #NavPanel .inner {
    fill: #797282;
}

b787-10-nd-element #NavPanel .topLeftBorder {
    fill: #797282;
}

b787-10-nd-element #NavPanel .bottomRightBorder {
    fill: #1e1e1e;
}

b787-10-nd-element #NavPanel .active .inner {
    fill: #1b9110;
}

b787-10-nd-element #NavPanel .active .topLeftBorder {
    fill: #1e1e1e;
}

b787-10-nd-element #NavPanel .active .bottomRightBorder {
    fill: #797282;
}

b787-10-nd-element #NavPanel .highlight .border {
    stroke: #fa0bfa;
}

b787-10-nd-element #NavPanel #Button_Map {
    transform: translate(31.5%, 0.5%);
}

b787-10-nd-element #NavPanel #Button_Map text {
    fill: var(--eicasWhite);
    font-family: BoeingEICAS;
    font-size: 26px;
    text-anchor: middle;
}

b787-10-nd-element #NavPanel #Button_Plan {
    transform: translate(50%, 0.5%);
}

b787-10-nd-element #NavPanel #Button_Plan text {
    fill: var(--eicasWhite);
    font-family: BoeingEICAS;
    font-size: 26px;
    text-anchor: middle;
}

b787-10-nd-element #NavPanel #Button_Menu {
    transform: translate(89%, 0.5%);
}

b787-10-nd-element #NavPanel #Button_Menu text {
    fill: var(--eicasWhite);
    font-family: BoeingEICAS;
    font-size: 26px;
    text-anchor: middle;
}

b787-10-nd-element #NavPanel #Map_Menu {
    transform: translate(85.5%, 3.5%);
}

b787-10-nd-element #NavPanel #Map_Menu svg {
    width: 100%;
    height: 100%;
}

b787-10-nd-element #NavPanel #Map_Menu svg text {
    text-anchor: start;
}

b787-10-nd-element #Compass {
    position: absolute;
    border: none;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

b787-10-nd-element #Map {
    position: absolute;
    height: 150%;
    width: 150%;
    top: -38%;
    left: -25%;
    display: block;
    /* Map position (left and top) is set in mapConfig.json file (see SvgMapConfig.ts) (makes it editable at runtime) */
    /* Map position (left and top) is set in mapConfig.json file (see SvgMapConfig.ts) (makes it editable at runtime) */
}

b787-10-nd-element #Map #MapOrientation {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 10%;
    height: calc(3 * 1vh * var(--bodyHeightScale));
    background-color: #1a1d21;
    color: white;
}

b787-10-nd-element #Map #WindData {
    position: absolute;
    top: 0%;
    width: 7%;
    right: 10%;
}

b787-10-nd-element #Map #MapRange {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: calc(3 * 1vh * var(--bodyHeightScale));
    background-color: #1a1d21;
    color: #36c8d2;
}

b787-10-nd-element #Map #MapSVG, b787-10-nd-element #Map #road-network-canvas {
    position: absolute;
}

b787-10-nd-element #Map bing-map {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

b787-10-nd-element #ModeChangeMask {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: black;
}

b787-10-nd-element #NDInfo #TopBox {
    top: -3%;
    left: 2%;
    width: 96%;
    height: 20%;
    position: absolute;
}

b787-10-nd-element #NDInfo #TopBox #Speed {
    top: 15%;
    height: 100%;
    left: 0%;
    width: 40%;
    position: absolute;
}

b787-10-nd-element #NDInfo #TopBox #Speed #WindArrowContainer {
    transform: translate(40px, 150px);
}

b787-10-nd-element #NDInfo #TopBox #Approach {
    top: 50%;
    height: 100%;
    left: 60%;
    width: 40%;
    position: absolute;
}

b787-10-nd-element #NDInfo #TopBox #Approach text {
    text-anchor: end;
}

b787-10-nd-element #NDInfo #TopBox #Waypoint {
    top: 50%;
    height: 100%;
    left: 60%;
    width: 40%;
    position: absolute;
}

b787-10-nd-element #NDInfo #TopBox #Waypoint text {
    text-anchor: end;
}

b787-10-nd-element #NDInfo #TopBox svg {
    width: 100%;
    height: 100%;
}

b787-10-nd-element #NDInfo #TopBox text {
    width: 100%;
    height: 100%;
    font-family: BoeingEICAS;
}

b787-10-nd-element #NDInfo #TopBox text.Value {
    font-size: 25px;
    fill: white;
}

b787-10-nd-element #NDInfo #TopBox text.ValueVor {
    font-size: 258px;
    fill: #fa0afa;
}

b787-10-nd-element #NDInfo #TopBox text.ValueIls {
    font-size: 25px;
    fill: #fa0afa;
}

b787-10-nd-element #NDInfo #TopBox text.Small {
    font-size: 25px;
    fill: white;
}

b787-10-nd-element #NDInfo #TopBox text.Large {
    font-size: 25px;
    fill: white;
}

b787-10-nd-element #NDInfo #TopBox text.Units {
    font-size: 25px;
    fill: white;
}

b787-10-nd-element #NDInfo #VORDMENavaids {
    font-family: BoeingEICAS;
}

b787-10-nd-element #NDInfo #VORDMENavaids div {
    top: 89%;
    width: 25%;
    height: 13%;
    position: absolute;
}

b787-10-nd-element #NDInfo #VORDMENavaids svg {
    width: 100%;
    height: 100%;
}

b787-10-nd-element #NDInfo #VORDMENavaids #VORDMENavaid_Left {
    left: 2.5%;
    text-anchor: start;
}

b787-10-nd-element #NDInfo #VORDMENavaids #VORDMENavaid_Left #Distance {
    text-anchor: end;
}

b787-10-nd-element #NDInfo #VORDMENavaids #VORDMENavaid_Right {
    right: 2.5%;
    text-anchor: end;
}

b787-10-nd-element #NDInfo #VORDMENavaids #VORDMENavaid_Right #Unit {
    text-anchor: start;
}

b787-10-nd-element #NDInfo #VORDMENavaids #State {
    font-size: 20px;
    fill: #64ec28;
}

b787-10-nd-element #NDInfo #VORDMENavaids #ID {
    font-size: 20px;
    fill: #64ec28;
}

b787-10-nd-element #NDInfo #VORDMENavaids #Mode {
    font-size: 20px;
    fill: #64ec28;
    text-decoration: underline;
}

b787-10-nd-element #NDInfo #VORDMENavaids #Distance {
    font-size: 20px;
    fill: #64ec28;
}

b787-10-nd-element #NDInfo #VORDMENavaids #Unit {
    font-size: 20px;
    fill: #64ec28;
}

b787-10-nd-element #NDInfo #VORDMENavaids #ArrowVor {
    fill: none;
    stroke: #64ec28;
    stroke-width: 4px;
}

b787-10-nd-element #NDInfo #VORDMENavaids #ArrowAdf {
    fill: none;
    stroke: #00fcfc;
    stroke-width: 4px;
}

b787-10-nd-element #NDInfo #Symbols {
    top: 30%;
    left: 2%;
    width: 50%;
    height: 50%;
    position: absolute;
}

b787-10-nd-element #NDInfo #Symbols svg {
    width: 100%;
    height: 100%;
}

b787-10-nd-element #NDInfo #Symbols text {
    width: 100%;
    height: 100%;
    font-family: BoeingEICAS;
}

b787-10-nd-element #NDInfo #Symbols text.Small {
    font-size: 28px;
    fill: #00fcfc;
}

b787-10-nd-element #NDInfo #Symbols text.Large {
    font-size: 36px;
    fill: #00fcfc;
}

b787-10-nd-element[mapstyle=rose] #Compass {
    top: 6%;
}

b787-10-nd-element[mapstyle=rose] #Map {
    top: -19%;
}

b787-10-nd-element[mapstyle=plan] #Compass {
    top: 3%;
}

b787-10-nd-element[mapstyle=plan] #Map {
    top: -22%;
}

b787-10-nd-element[halfsize=true] #NavPanel {
    top: -0.5%;
    left: -62%;
    width: 200%;
    height: 200%;
}

b787-10-nd-element[halfsize=true] #NavPanel #Button_Menu {
    transform: translate(71%, 0.5%);
}

b787-10-nd-element[halfsize=true] #NavPanel #Map_Menu {
    transform: translate(67.5%, 3.5%);
}

b787-10-nd-element[halfsize=true][mapstyle=arc] #Compass {
    top: -32%;
    left: -51.6%;
    width: 183%;
    height: 183%;
}

b787-10-nd-element[halfsize=true] #NDInfo #TopBox #Speed {
    top: 45%;
    width: 39%;
    height: 60%;
}

b787-10-nd-element[halfsize=true] #NDInfo #TopBox #Speed #WindArrowContainer {
    transform: translate(18px, 100px) scale(0.5);
}

b787-10-nd-element[halfsize=true] #NDInfo #TopBox #Approach,
b787-10-nd-element[halfsize=true] #NDInfo #TopBox #Waypoint {
    top: 45%;
    height: 50%;
}


b787-10-nd-element[halfsize=true] #NDInfo #TopBox text.Value,
b787-10-nd-element[halfsize=true] #NDInfo #TopBox text.ValueVor,
b787-10-nd-element[halfsize=true] #NDInfo #TopBox text.ValueIls,
b787-10-nd-element[halfsize=true] #NDInfo #TopBox text.Large {
    font-size: 18px;
}

b787-10-nd-element[halfsize=true] #NDInfo #TopBox text.Small,
b787-10-nd-element[halfsize=true] #NDInfo #TopBox text.Units {
    font-size: 15px;
}

b787-10-nd-element[halfsize=true] #NDInfo #VORDMENavaids svg {
    width: 200%;
}

b787-10-nd-element[halfsize=true] #NDInfo #VORDMENavaids #VORDMENavaid_Left {
    left: -2%;
}

b787-10-nd-element[halfsize=true] #NDInfo #VORDMENavaids #VORDMENavaid_Right {
    right: 25%;
}

b787-10-nd-element[border=left] #Borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 2px inset white;
    pointer-events: none;
}

b787-10-nd-element[border=right] #Borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 2px inset white;
    pointer-events: none;
}

/** IRS Modeling **/

b787-10-nd-element[halfsize=true] #align-times:not([irs-state=aligned]) {
    display: block;
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 200px;
    height: 110px;
    background-color: black;
}

b787-10-nd-element #align-times {
    display: none;
}

b787-10-nd-element #align-times2:not([irs-state=aligned]) {
    display: block;
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 400px;
    height: 200px;
    background-color: black;
}

b787-10-nd-element[halfsize=true] #align-times2 {
    display: none;
}

b787-10-nd-element #align-times text {
    fill: var(--color-white);
    font-size: 15px;
    font-family: Roboto-Light;
    text-anchor: middle;
    alignment-baseline: central;
}

b787-10-nd-element #align-times2 text {
    fill: var(--color-white);
    font-size: 30px;
    width: 400px;
    font-family: Roboto-Light;
    text-anchor: start;
    alignment-baseline: central;
}


b787-10-nd-element #align-times text.align {
    fill: var(--color-white);
    font-size: 15px;
    font-family: Roboto-Bold;
    text-anchor: start;
    alignment-baseline: central;
}

b787-10-nd-element #align-times2 text.align {
    fill: var(--color-white);
    text-anchor: start;
    alignment-baseline: central;
}

#Map[irs-state=off], #Map[irs-state=inited], #Map[irs-state=aligning],
#ArcRangeGroup[irs-state=off], #ArcRangeGroup[irs-state=inited], #ArcRangeGroup[irs-state=aligning],
map-instrument[irs-state=off], map-instrument[irs-state=inited], map-instrument[irs-state=aligning],
#headingGroup[irs-state=off], #headingGroup[irs-state=inited], #headingGroup[irs-state=aligning],
#CourseInfo[irs-state=off], #CourseInfo[irs-state=inited], #CourseInfo[irs-state=aligning],
#selectedHeadingGroup[irs-state=off], #selectedHeadingGroup[irs-state=inited], #selectedHeadingGroup[irs-state=aligning],
#selectedTrackGroup[irs-state=off], #selectedTrackGroup[irs-state=inited], #selectedTrackGroup[irs-state=aligning],
#ILSGroup[irs-state=off], #ILSGroup[irs-state=inited], #ILSGroup[irs-state=aligning],
#currentRefGroup[irs-state=off], #currentRefGroup[irs-state=inited], #currentRefGroup[irs-state=aligning],
#RangeGroup[irs-state=off], #RangeGroup[irs-state=inited], #RangeGroup[irs-state=aligning],
#NDInfo[irs-state=off], #NDInfo[irs-state=inited], #NDInfo[irs-state=aligning],
#circleGroup text[irs-state=off], #circleGroup text[irs-state=inited], #circleGroup text[irs-state=aligning],
#outerCircle text[irs-state=off], #outerCircle text[irs-state=inited], #outerCircle text[irs-state=aligning] {
    display: none;
}

b787-10-nd-element[mapstyle=plan] #FakeCompassBox {
    display: none;
}

b787-10-nd-element[mapstyle=plan] #FakeCompassBoxHdg {
    display: none;
}

b787-10-nd-element[mapstyle=plan] #FakeCompassBoxHdg text {
    display: none;
}

b787-10-nd-element[mapstyle=plan] #FakeCompassBoxHdg path {
    display: none;
}

b787-10-nd-element[mapstyle=plan] #FakeMapBox {
    display: none;
}

b787-10-nd-element[mapstyle=plan] #FakeMapBox text {
    display: none;
}

b787-10-nd-element[mapstyle=plan] #FakeMapBox path {
    display: none;
}

b787-10-nd-element #FakeCompassBox {
    transform: rotateX(0);
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 100%;
    height: 100%;
}

b787-10-nd-element #FakeCompassBoxHdg {
    transform: rotateX(0);
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 100%;
    height: 100%;
}

b787-10-nd-element #FakeCompassBoxHdg text {
    fill: var(--colorAmber);
    font-size: 21px;
    font-family: Roboto-Bold;
    text-anchor: middle;
    alignment-baseline: central;
}

b787-10-nd-element #FakeCompassBoxHdg path {
    stroke: var(--colorAmber);
    stroke-width: 1;
    fill: none;
}

b787-10-nd-element #FakeMapBox {
    transform: rotateX(0);
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

b787-10-nd-element #FakeMapBox text {
    fill: var(--colorAmber);
    font-size: 21px;
    font-family: Roboto-Bold;
    text-anchor: middle;
    alignment-baseline: central;
}

b787-10-nd-element #FakeMapBox path {
    stroke: var(--colorAmber);
    stroke-width: 1;
    fill: none;
}

b787-10-nd-element[halfsize=true] #FakeCompassBoxHdg {
    transform: translate(0px, -218px) scale(0.755);
}

b787-10-nd-element[halfsize=true] #FakeCompassBox {
    transform: translate(0px, -218px) scale(0.755);
}


/*** DEV ***/

#Map[irs-state=aligned],
map-instrument[irs-state=aligned],
#headingGroup[irs-state=aligned],
#CourseInfo[irs-state=aligned],
#selectedHeadingGroup[irs-state=aligned],
#selectedTrackGroup[irs-state=aligned],
#ILSGroup[irs-state=aligned],
#currentRefGroup[irs-state=aligned],
#RangeGroup[irs-state=aligned],
#NDInfo[irs-state=aligned]
#circleGroup text[irs-state=aligned]{
    display: block;
}

#time-to-align[irs-state=aligning] #time-to-align2[irs-state=aligning]{
    display:block;
}

#time-to-align[irs-state=off], #time-to-align[irs-state=aligned], #time-to-align2[irs-state=off], #time-to-align2[irs-state=aligned]{
    display:none;
}

#align-times[irs-state=aligned], #align-times2[irs-state=aligned], #FakeMapBox[irs-state=aligned], #FakeCompassBoxHdg[irs-state=aligned], #FakeCompassBox[irs-state=aligned]{
    display: none;
}

#FakeCompassBoxHdg[irs-state=off]{
    display:block;
}

#FakeCompassBoxHdg[irs-state=inited], #FakeCompassBoxHdg[irs-state=aligning], #FakeCompassBoxHdg[irs-state=aligned]{
    display:none;
}

#FakeCompassBox[irs-state=off], #FakeCompassBox[irs-state=aligned]{
    display:none;
}

#FakeCompassBox[irs-state=inited], #FakeCompassBox[irs-state=aligning]{
    display:block;
}

#l-align[irs-state=aligning], #l-align2[irs-state=aligning], #c-align[irs-state=aligning], #r-align[irs-state=aligning]{
    display: block;
}

#l-align[irs-state=off], #l-align[irs-state=inited], #l-align[irs-state=aligned],
#l-align2[irs-state=off], #l-align2[irs-state=inited], #l-align2[irs-state=aligned],
#c-align[irs-state=off], #c-align[irs-state=inited], #c-align[irs-state=aligned],
#r-align[irs-state=off], #r-align[irs-state=inited], #r-align[irs-state=aligned] {
    display: none;
}