:root {
    --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
    0%, 100% {
        visibility: visible;
    }
}

@keyframes TemporaryHide {
    0%, 100% {
        visibility: hidden;
    }
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-family: BoeingEICAS;
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}

:root {
    --eicasWhite: white;
    --eicasBlack: black;
    --eicasDarkGrey: #5f5f5f;
    --eicasLightGrey: #797282;
    --eicasBlue: #52d3f1;
    --eicasGreen: #64ec28;
    --eicasOrange: #db7200;
    --eicasRed: #e8361f;
    --eicasMagenta: #fa0afa;
    --eicasAmber: #feb21d;
}

b787-10-sys-element {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
}

b787-10-sys-element svg {
    width: 100%;
    height: 100%;
}

b787-10-sys-element #PageButtons text {
    fill: white;
    font-family: BoeingEICAS;
    font-size: 36px;
    text-anchor: middle;
}

b787-10-sys-element #PageButtons .border {
    fill: none;
    stroke: black;
    stroke-width: 4px;
}

b787-10-sys-element #PageButtons .inner {
    fill: #797282;
    stroke: none;
}

b787-10-sys-element #PageButtons .topLeftBorder, b787-10-sys-element #PageButtons .bottomRightBorder {
    stroke: none;
}

b787-10-sys-element #PageButtons .page-button-active .inner {
    fill: #64ec28;
}

b787-10-sys-element #PageButtons .page-button-active .topLeftBorder {
    fill: #1e1e1e;
}

b787-10-sys-element #PageButtons .page-button-active .bottomRightBorder {
    fill: #797282;
}

b787-10-sys-element #PageButtons .page-button-inactive .inner {
    fill: #797282;
}

b787-10-sys-element #PageButtons .page-button-inactive .topLeftBorder {
    fill: #797282;
}

b787-10-sys-element #PageButtons .page-button-inactive .bottomRightBorder {
    fill: #1e1e1e;
}

b787-10-sys-element #PageButtons .page-button-highlight .topLeftBorder,
b787-10-sys-element #PageButtons .page-button-highlight .bottomRightBorder {
    fill: #fa0bfa;
}

b787-10-sys-element #Pages #FUEL_Page text.label {
    font-size: 30px;
    text-anchor: middle;
    fill: #52d3f1;
}

b787-10-sys-element #Pages #FUEL_Page text.quantity {
    font-size: 38px;
    text-anchor: end;
    fill: white;
}

b787-10-sys-element #Pages #FUEL_Page #TotalFuelDisplay rect {
    fill: none;
    stroke: #52d3f1;
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page #TotalFuelDisplay text.label {
    text-anchor: start;
}

b787-10-sys-element #Pages #FUEL_Page #TotalFuelDisplay text.quantity {
    font-size: 45px;
}

b787-10-sys-element #Pages #FUEL_Page #TotalFuelDisplay text.units {
    font-size: 30px;
    text-anchor: middle;
    fill: white;
}

b787-10-sys-element #Pages #FUEL_Page #FuelTempDisplay .label {
    text-anchor: start;
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo rect, b787-10-sys-element #Pages #FUEL_Page .engineInfo path {
    fill: #5f5f5f;
    stroke: #52d3f1;
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo line {
    fill: none;
    stroke-width: 6px;
    stroke: white;
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo circle {
    fill: black;
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo .fuelengine-active {
    stroke: #64ec28;
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo .fuelengine-inactive {
    stroke: white;
}

b787-10-sys-element #Pages #FUEL_Page .tankInfo rect.background {
    fill: #5f5f5f;
    stroke: #52d3f1;
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page .tankInfo rect.quantity {
    fill: black;
    stroke: none;
}

b787-10-sys-element #Pages #FUEL_Page .fuelFrame {
    fill: none;
    stroke-width: 4px;
    stroke: white;
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps {
    fill: none;
    stroke-width: 8px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps .fuelpump-switched-active {
    stroke: #64ec28;
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps .fuelpump-notswitched-active {
    stroke: #db7200;
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps .fuelpump-switched-inactive {
    stroke: #db7200;
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps .fuelpump-notswitched-inactive {
    stroke: white;
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves {
    fill: black;
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves .fuelvalve-open {
    stroke: #64ec28;
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves .fuelvalve-closing {
    stroke: #db7200;
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves .fuelvalve-closed {
    stroke: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves #FuelValve1.fuelvalve-closed, b787-10-sys-element #Pages #FUEL_Page #FuelValves #FuelValve2.fuelvalve-closed, b787-10-sys-element #Pages #FUEL_Page #FuelValves #FuelValve3.fuelvalve-closed {
    stroke: white;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines {
    fill: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines line {
    stroke-width: 16px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines polyline {
    stroke-width: 14px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines rect {
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-active {
    stroke: #64ec28;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-active text {
    stroke: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-active rect {
    stroke: #52d3f1;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-active path {
    fill: #64ec28;
    stroke: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-inactive {
    stroke: none;
    fill: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-inactive text, b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-inactive rect {
    stroke: none;
    fill: none;
}

b787-10-sys-element[border=left] #Borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    border-left: 2px inset white;
}

b787-10-sys-element[border=right] #Borders {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    border-right: 2px inset white;
}

/** Custom CSS */
/** Copied from B78XH (should be same in both versions) */


b787-10-sys-element #Pages #GEAR_Page path#gears-main-path {
    stroke: #52d3f1;
    stroke-width: 6px;
    fill: none;
}

b787-10-sys-element #Pages #GEAR_Page #door-labels text.door-label {
    font-size: 46px;
    text-anchor: middle;
    fill: #52d3f1;
}

b787-10-sys-element #Pages #GEAR_Page #gears-numbers text.gear-number-label {
    font-size: 46px;
    text-anchor: middle;
    fill: #52d3f1;
}

b787-10-sys-element #Pages #GEAR_Page #tire-pressures text.tire-pressure-label {
    font-family: BoeingEICAS;
    letter-spacing: -4px;
    font-size: 40px;
    text-anchor: middle;
    fill: white;
}

b787-10-sys-element #Pages #GEAR_Page #brake-temperatures text.brake-temperature-label {
    font-family: BoeingEICAS;
    letter-spacing: -2px;
    font-size: 40px;
    fill: white;
}

b787-10-sys-element #Pages #GEAR_Page #brake-temperatures text.brake-temperature-label-1, text.brake-temperature-label-5, text.brake-temperature-label-3, text.brake-temperature-label-7 {
    text-anchor: end;
}

b787-10-sys-element #Pages #GEAR_Page #brake-temperatures text.brake-temperature-label-2, text.brake-temperature-label-6, text.brake-temperature-label-4, text.brake-temperature-label-8 {
    text-anchor: start;
}

b787-10-sys-element #Pages #GEAR_Page #gear-doors #door-rects rect.door-rect {
    fill: none;
    stroke: white;
    stroke-width: 9
}

b787-10-sys-element #Pages #GEAR_Page #gear-doors #crosshatches path.crosshatch {
    stroke: white;
    stroke-width: 3px;
    visibility: hidden;
}

b787-10-sys-element #Pages #GEAR_Page #gear-doors.transit #crosshatches path.crosshatch {
    visibility: visible;
}


b787-10-sys-element #Pages #GEAR_Page #gear-doors #door-status-labels text.door-status-label {
    font-family: BoeingEICAS;
    letter-spacing: -4px;
    font-size: 50px;
    fill: white;
    visibility: hidden;
}


b787-10-sys-element #Pages #GEAR_Page #gear-doors.up #door-status-labels text.door-status-label,
b787-10-sys-element #Pages #GEAR_Page #gear-doors.down #door-status-labels text.door-status-label,
b787-10-sys-element #Pages #GEAR_Page #gear-doors.inactive #door-status-labels text.door-status-label {
    visibility: visible;
}

b787-10-sys-element #Pages #GEAR_Page #door-labels text.door-label {
    font-size: 46px;
    text-anchor: middle;
    fill: #52d3f1;
}

b787-10-sys-element #Pages #STAT_Page #boxes path.box {
    fill: #52d3f1;
}

b787-10-sys-element #Pages #STAT_Page #box-labels text.box-label {
    font-size: 40px;
    text-anchor: middle;
    fill: #52d3f1;
}

b787-10-sys-element #Pages #STAT_Page #boxes-content text.box-content-label {
    font-size: 28px;
    fill: #52d3f1;
}

b787-10-sys-element #Pages #STAT_Page #boxes-content text.box-content-value {
    font-family: BoeingEICAS;
    font-size: 36px;
    text-anchor: middle;
    fill: white;
}

b787-10-sys-element #Pages #STAT_Page #boxes-content tspan.unit {
    font-size: 28px;
    fill: white;
}

b787-10-sys-element #Pages #HYD_Page #boxes-top rect.box {
    stroke: #52d3f1;
    stroke-width: 2px;
}

b787-10-sys-element #Pages #HYD_Page #texts text {
    font-weight: bold;
    font-size: 28px;
    fill: #52d3f1;
    text-align: center;
    text-anchor: middle;
}

b787-10-sys-element #Pages #HYD_Page #boxes-top-texts text > tspan {
    font-weight: bold;
    font-size: 28px;
    fill: #52d3f1;
    text-align: center;
    text-anchor: middle;
}

b787-10-sys-element #Pages #HYD_Page #boxes-qty path.box-qty {
    fill: #797282;
    stroke: #52d3f1;
    stroke-width: 4;
}

b787-10-sys-element #Pages #HYD_Page #boxes-qty path.qty-clip {
    fill: black;
}

b787-10-sys-element #Pages #HYD_Page #boxes-qty path.qty-clip {
    fill: black;
}

b787-10-sys-element #Pages #HYD_Page path.greens {
    fill: #64ec28;
}

b787-10-sys-element #Pages #HYD_Page path.whites {
    fill: white;
}

b787-10-sys-element #Pages #HYD_Page path.greens[state=off] {
    display: none;
}

b787-10-sys-element #Pages #HYD_Page path.greens[state=on] {
    display: block;
}


b787-10-sys-element #Pages #DOOR_Page path {
    stroke-width: 3px;
    stroke: #52d3f1;
    fill: none;
}

b787-10-sys-element #Pages #DOOR_Page text {
    font-size: 36px;
    text-align: end;
    letter-spacing: -1.5px;
    fill: #52d3f1;
}

b787-10-sys-element #Pages #DOOR_Page text.text-left {
    font-size: 36px;
    text-align: end;
    letter-spacing: -1.5px;
    fill: #52d3f1;
}

b787-10-sys-element #Pages #DOOR_Page text.text-right {
    direction: ltr;
    text-anchor: end
}

b787-10-sys-element #Pages #DOOR_Page .static-hidden {
    visibility: hidden;
}

b787-10-sys-element #Pages #DOOR_Page .static-visible {
    visibility: visible;
}

b787-10-sys-element #Pages #DOOR_Page .door {
    fill: #000000;
}

b787-10-sys-element #Pages #DOOR_Page .door-open {
    stroke: #feb21d;
    stroke-width: 3
}

b787-10-sys-element #Pages #DOOR_Page path.fuseladge-gray-mask {
    fill: #5f5f5f;
    stroke-width: 0;
    stroke: none;
}

b787-10-sys-element #Pages #DOOR_Page text.entry_a_text {
    fill: #64ec28;
}

b787-10-sys-element #Pages #DOOR_Page text#lavatory-text.vacant {
    fill: #64ec28;
}

b787-10-sys-element #Pages #DOOR_Page text#lavatory-text.occupied {
    fill: white;
}

b787-10-sys-element #Pages #AIR_Page #white-lines path {
    stroke-width: 3;
    stroke: white;
    fill: none;
}

b787-10-sys-element #Pages #AIR_Page #green-lines path {
    stroke-width: 9;
    stroke: #64ec28;
    fill: none;
}

b787-10-sys-element #Pages #AIR_Page #green-lines circle {
    stroke-width: 3;
    stroke: #64ec28;
    fill: black;
}

b787-10-sys-element #Pages #AIR_Page #green-lines #r-pack,
b787-10-sys-element #Pages #AIR_Page #green-lines #l-pack {
    stroke-width: 3;
    stroke: #64ec28;
    fill: black
}

b787-10-sys-element #Pages #AIR_Page #fuselage path {
    stroke: #52d3f1;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    fill: #5f5f5f
}

b787-10-sys-element #Pages #AIR_Page #boxes #boxes-top rect {
    stroke: #52d3f1;
    stroke-width: 3px;
    fill: black;
}

b787-10-sys-element #Pages #AIR_Page #boxes #boxes-top path {
    stroke: #52d3f1;
    stroke-width: 3px;
    fill: black;
}

b787-10-sys-element #Pages #AIR_Page #boxes #boxes-bottom rect {
    stroke: #52d3f1;
    stroke-width: 3px;
    fill: black;
}

b787-10-sys-element #Pages #AIR_Page #boxes #boxes-bottom rect#air-distribution {
    stroke: #64ec28;
    stroke-width: 3px;
    fill: black;
}

b787-10-sys-element #Pages #AIR_Page #static-texts text {
    fill: #64ec28;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #titles-blue text {
    fill: #52d3f1;
    text-align: center;
    text-anchor: middle;
    font-size: 24px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #titles-green text {
    fill: #64ec28;
    text-align: center;
    text-anchor: middle;
    font-size: 24px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #load-shed text {
    fill: white;
    text-align: center;
    text-anchor: middle;
    font-size: 24px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #temporary-hidden > text {
    visibility: hidden;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #temperatures-selected text {
    fill: #fa0afa;

    font-size: 24px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #temperatures-actual text {
    fill: white;
    font-size: 32px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #top-texts text {
    fill: white;
    text-align: center;
    text-anchor: middle;
    font-size: 32px;
}

b787-10-sys-element #Pages #FCTL_Page #fuselage path {
    stroke: #52d3f1;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    fill: none;
}

b787-10-sys-element #Pages #FCTL_Page #fuselage-mask path {
    fill: #5f5f5f
}

b787-10-sys-element #Pages #FCTL_Page #positions #pointers path {
    fill: white;
}

b787-10-sys-element #Pages #FCTL_Page #positions #ranges path {
    fill: none;
    stroke: white;
    stroke-width: 3;
}

b787-10-sys-element #Pages #FCTL_Page #spoilers rect {
    fill: black;
    stroke: white;
    stroke-width: 4;
}

b787-10-sys-element #Pages #FCTL_Page #spoilers rect.spoiler-value {
    fill: white;
}

b787-10-sys-element #Pages #FCTL_Page #elevators path {
    fill: white;
}


b787-10-sys-element #Pages #FCTL_Page #Stab text.value, b787-10-sys-element #Pages #FCTL_Page #Stab text.left, b787-10-sys-element #Pages #FCTL_Page #Stab text.right, b787-10-sys-element #Pages #FCTL_Page #Stab text.info, b787-10-sys-element #Pages #FCTL_Page #Rudder text.value, b787-10-sys-element #Pages #FCTL_Page #Rudder text.left, b787-10-sys-element #Pages #FCTL_Page #Rudder text.right, b787-10-sys-element #Pages #FCTL_Page #Rudder text.info {
    font-size: 35px;
    letter-spacing: -3px;
    text-anchor: middle;
}

b787-10-sys-element #Pages #FCTL_Page #Stab text.value, b787-10-sys-element #Pages #FCTL_Page #Rudder text.value {
    text-anchor: end;
}

b787-10-sys-element #Pages #FCTL_Page #Stab text.takeoff, b787-10-sys-element #Pages #FCTL_Page #Rudder text.takeoff {
    font-size: 30px;
    letter-spacing: -3px;
    text-anchor: middle;
    fill: #fa0afa;
}

b787-10-sys-element #Pages #FCTL_Page #Stab rect, b787-10-sys-element #Pages #FCTL_Page #Stab .bar, b787-10-sys-element #Pages #FCTL_Page #Stab .markers, b787-10-sys-element #Pages #FCTL_Page #Rudder rect, b787-10-sys-element #Pages #FCTL_Page #Rudder .bar, b787-10-sys-element #Pages #FCTL_Page #Rudder .markers {
    fill: none;
    stroke: white;
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FCTL_Page #Stab .arrow, b787-10-sys-element #Pages #FCTL_Page #Rudder .arrow {
    fill: white;
}

b787-10-sys-element #Pages #FCTL_Page #Stab rect.trimBand, b787-10-sys-element #Pages #FCTL_Page #Rudder rect.trimBand {
    fill: #64ec28;
    stroke: none;
}

b787-10-sys-element #Pages #FCTL_Page text.vlabel {
    fill: #52d3f1;
    font-size: 32px;
    letter-spacing: -12px;
    glyph-orientation-vertical: 0;
    writing-mode: vertical-lr;
}

b787-10-sys-element #Pages #FCTL_Page text.label {
    fill: #52d3f1;
    font-size: 32px;
    letter-spacing: -2px;
    text-anchor: middle; }

b787-10-sys-element #Pages #FCTL_Page #boxes rect {
    stroke: #64ec28;
    stroke-width: 3;
}
b787-10-sys-element text {
    fill: white;
    font-size: 45px;
    text-anchor: start; }

b787-10-sys-element #Pages #FCTL_Page text.box-label {
    fill: #64ec28;
    font-size: 32px;
    letter-spacing: -2px;
    text-anchor: middle;
}