:root {
    --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
    0%, 100% {
        visibility: visible;
    }
}

@keyframes TemporaryHide {
    0%, 100% {
        visibility: hidden;
    }
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-family: Roboto-Regular;
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}

:root {
    --eicasWhite: white;
    --eicasBlack: black;
    --eicasDarkGrey: #323232;
    --eicasLightGrey: #969696;
    --eicasBlue: #009696;
    --eicasGreen: green;
    --eicasOrange: #db7200;
    --eicasRed: red;
    --eicasMagenta: magenta;
    --eicasAmber: #ffbf00;
}

b787-10-sys-element {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
}

b787-10-sys-element svg {
    width: 100%;
    height: 100%;
}

b787-10-sys-element #PageButtons text {
    fill: var(--eicasWhite);
    font-family: Roboto-Light;
    font-size: 36px;
    text-anchor: middle;
}

b787-10-sys-element #PageButtons .border {
    fill: none;
    stroke: black;
    stroke-width: 4px;
}

b787-10-sys-element #PageButtons .inner {
    fill: #646464;
    stroke: none;
}

b787-10-sys-element #PageButtons .topLeftBorder, b787-10-sys-element #PageButtons .bottomRightBorder {
    stroke: none;
}

b787-10-sys-element #PageButtons .page-button-active .inner {
    fill: #003200;
}

b787-10-sys-element #PageButtons .page-button-active .topLeftBorder {
    fill: #1e1e1e;
}

b787-10-sys-element #PageButtons .page-button-active .bottomRightBorder {
    fill: #646464;
}

b787-10-sys-element #PageButtons .page-button-inactive .inner {
    fill: #414141;
}

b787-10-sys-element #PageButtons .page-button-inactive .topLeftBorder {
    fill: #646464;
}

b787-10-sys-element #PageButtons .page-button-inactive .bottomRightBorder {
    fill: #1e1e1e;
}

b787-10-sys-element #PageButtons .page-button-highlight .topLeftBorder,
b787-10-sys-element #PageButtons .page-button-highlight .bottomRightBorder {
    fill: magenta;
}

b787-10-sys-element #Pages #FUEL_Page text.label {
    font-size: 30px;
    text-anchor: middle;
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #FUEL_Page text.quantity {
    font-size: 38px;
    text-anchor: end;
    fill: var(--eicasWhite);
}

b787-10-sys-element #Pages #FUEL_Page #TotalFuelDisplay rect {
    fill: none;
    stroke: var(--eicasBlue);
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page #TotalFuelDisplay text.label {
    text-anchor: start;
}

b787-10-sys-element #Pages #FUEL_Page #TotalFuelDisplay text.quantity {
    font-size: 45px;
}

b787-10-sys-element #Pages #FUEL_Page #TotalFuelDisplay text.units {
    font-size: 30px;
    text-anchor: middle;
    fill: var(--eicasWhite);
}

b787-10-sys-element #Pages #FUEL_Page #FuelTempDisplay .label {
    text-anchor: start;
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo rect, b787-10-sys-element #Pages #FUEL_Page .engineInfo path {
    fill: var(--eicasDarkGrey);
    stroke: var(--eicasBlue);
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo line {
    fill: none;
    stroke-width: 6px;
    stroke: var(--eicasWhite);
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo circle {
    fill: var(--eicasBlack);
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo .fuelengine-active {
    stroke: var(--eicasGreen);
}

b787-10-sys-element #Pages #FUEL_Page .engineInfo .fuelengine-inactive {
    stroke: var(--eicasWhite);
}

b787-10-sys-element #Pages #FUEL_Page .tankInfo rect.background {
    fill: var(--eicasDarkGrey);
    stroke: var(--eicasBlue);
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page .tankInfo rect.quantity {
    fill: var(--eicasBlack);
    stroke: none;
}

b787-10-sys-element #Pages #FUEL_Page .fuelFrame {
    fill: none;
    stroke-width: 4px;
    stroke: var(--eicasWhite);
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps {
    fill: none;
    stroke-width: 8px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps .fuelpump-switched-active {
    stroke: var(--eicasGreen);
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps .fuelpump-notswitched-active {
    stroke: var(--eicasOrange);
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps .fuelpump-switched-inactive {
    stroke: var(--eicasOrange);
}

b787-10-sys-element #Pages #FUEL_Page #FuelPumps .fuelpump-notswitched-inactive {
    stroke: var(--eicasWhite);
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves {
    fill: var(--eicasBlack);
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves .fuelvalve-open {
    stroke: var(--eicasGreen);
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves .fuelvalve-closing {
    stroke: var(--eicasOrange);
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves .fuelvalve-closed {
    stroke: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelValves #FuelValve1.fuelvalve-closed, b787-10-sys-element #Pages #FUEL_Page #FuelValves #FuelValve2.fuelvalve-closed, b787-10-sys-element #Pages #FUEL_Page #FuelValves #FuelValve3.fuelvalve-closed {
    stroke: var(--eicasWhite);
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines {
    fill: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines line {
    stroke-width: 16px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines polyline {
    stroke-width: 14px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines rect {
    stroke-width: 4px;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-active {
    stroke: var(--eicasGreen);
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-active text {
    stroke: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-active rect {
    stroke: var(--eicasBlue);
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-active path {
    fill: var(--eicasGreen);
    stroke: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-inactive {
    stroke: none;
    fill: none;
}

b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-inactive text, b787-10-sys-element #Pages #FUEL_Page #FuelLines .fuelline-inactive rect {
    stroke: none;
    fill: none;
}

b787-10-sys-element[border=left] #Borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 2px inset white;
}

b787-10-sys-element[border=right] #Borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 2px inset white;
}

/** Custom CSS */
/** Copied from B78XH (should be same in both versions) */


b787-10-sys-element #Pages #GEAR_Page path#gears-main-path {
    stroke: var(--eicasBlue);
    stroke-width: 6px;
    fill: none;
}

b787-10-sys-element #Pages #GEAR_Page #door-labels text.door-label {
    font-size: 46px;
    text-anchor: middle;
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #GEAR_Page #gears-numbers text.gear-number-label {
    font-size: 46px;
    text-anchor: middle;
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #GEAR_Page #tire-pressures text.tire-pressure-label {
    font-family: Roboto-Light;
    letter-spacing: -4px;
    font-size: 40px;
    text-anchor: middle;
    fill: var(--eicasWhite);
}

b787-10-sys-element #Pages #GEAR_Page #brake-temperatures text.brake-temperature-label {
    font-family: Roboto-Light;
    letter-spacing: -2px;
    font-size: 40px;
    fill: var(--eicasWhite);
}

b787-10-sys-element #Pages #GEAR_Page #brake-temperatures text.brake-temperature-label-1, text.brake-temperature-label-5, text.brake-temperature-label-3, text.brake-temperature-label-7 {
    text-anchor: end;
}

b787-10-sys-element #Pages #GEAR_Page #brake-temperatures text.brake-temperature-label-2, text.brake-temperature-label-6, text.brake-temperature-label-4, text.brake-temperature-label-8 {
    text-anchor: start;
}

b787-10-sys-element #Pages #GEAR_Page #gear-doors #door-rects rect.door-rect {
    fill: none;
    stroke: var(--eicasWhite);
    stroke-width: 9
}

b787-10-sys-element #Pages #GEAR_Page #gear-doors #crosshatches path.crosshatch {
    stroke: var(--eicasWhite);
    stroke-width: 3px;
    visibility: hidden;
}

b787-10-sys-element #Pages #GEAR_Page #gear-doors.transit #crosshatches path.crosshatch {
    visibility: visible;
}


b787-10-sys-element #Pages #GEAR_Page #gear-doors #door-status-labels text.door-status-label {
    font-family: Roboto-Light;
    letter-spacing: -4px;
    font-size: 50px;
    fill: var(--eicasWhite);
    visibility: hidden;
}


b787-10-sys-element #Pages #GEAR_Page #gear-doors.up #door-status-labels text.door-status-label,
b787-10-sys-element #Pages #GEAR_Page #gear-doors.down #door-status-labels text.door-status-label,
b787-10-sys-element #Pages #GEAR_Page #gear-doors.inactive #door-status-labels text.door-status-label {
    visibility: visible;
}

b787-10-sys-element #Pages #GEAR_Page #door-labels text.door-label {
    font-size: 46px;
    text-anchor: middle;
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #STAT_Page #boxes path.box {
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #STAT_Page #box-labels text.box-label {
    font-size: 40px;
    text-anchor: middle;
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #STAT_Page #boxes-content text.box-content-label {
    font-size: 28px;
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #STAT_Page #boxes-content text.box-content-value {
    font-family: Roboto-Light;
    font-size: 36px;
    text-anchor: middle;
    fill: var(--eicasWhite);
}

b787-10-sys-element #Pages #STAT_Page #boxes-content tspan.unit {
    font-size: 28px;
    fill: var(--eicasWhite);
}

b787-10-sys-element #Pages #HYD_Page #boxes-top rect.box {
    stroke: var(--eicasBlue);
    stroke-width: 2px;
}

b787-10-sys-element #Pages #HYD_Page #texts text {
    font-weight: bold;
    font-size: 28px;
    fill: var(--eicasBlue);
    text-align: center;
    text-anchor: middle;
}

b787-10-sys-element #Pages #HYD_Page #boxes-top-texts text > tspan {
    font-weight: bold;
    font-size: 28px;
    fill: var(--eicasBlue);
    text-align: center;
    text-anchor: middle;
}

b787-10-sys-element #Pages #HYD_Page #boxes-qty path.box-qty {
    fill: var(--eicasLightGrey);
    stroke: var(--eicasBlue);
    stroke-width: 4;
}

b787-10-sys-element #Pages #HYD_Page #boxes-qty path.qty-clip {
    fill: var(--eicasBlack);
}

b787-10-sys-element #Pages #HYD_Page #boxes-qty path.qty-clip {
    fill: var(--eicasBlack);
}

b787-10-sys-element #Pages #HYD_Page path.greens {
    fill: var(--eicasGreen);
}

b787-10-sys-element #Pages #HYD_Page path.whites {
    fill: var(--eicasWhite);
}

b787-10-sys-element #Pages #HYD_Page path.greens[state=off] {
    display: none;
}

b787-10-sys-element #Pages #HYD_Page path.greens[state=on] {
    display: block;
}


b787-10-sys-element #Pages #DOOR_Page path {
    stroke-width: 3px;
    stroke: var(--eicasBlue);
    fill: none;
}

b787-10-sys-element #Pages #DOOR_Page text {
    font-size: 36px;
    text-align: end;
    letter-spacing: -1.5px;
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #DOOR_Page text.text-left {
    font-size: 36px;
    text-align: end;
    letter-spacing: -1.5px;
    fill: var(--eicasBlue);
}

b787-10-sys-element #Pages #DOOR_Page text.text-right {
    direction: ltr;
    text-anchor: end
}

b787-10-sys-element #Pages #DOOR_Page .static-hidden {
    visibility: hidden;
}

b787-10-sys-element #Pages #DOOR_Page .static-visible {
    visibility: visible;
}

b787-10-sys-element #Pages #DOOR_Page .door {
    fill: #000000;
}

b787-10-sys-element #Pages #DOOR_Page .door-open {
    stroke: var(--eicasAmber);
    stroke-width: 3
}

b787-10-sys-element #Pages #DOOR_Page path.fuseladge-gray-mask {
    fill: var(--eicasDarkGrey);
    stroke-width: 0;
    stroke: none;
}

b787-10-sys-element #Pages #DOOR_Page text.entry_a_text {
    fill: var(--eicasGreen);
}

b787-10-sys-element #Pages #DOOR_Page text#lavatory-text.vacant {
    fill: var(--eicasGreen);
}

b787-10-sys-element #Pages #DOOR_Page text#lavatory-text.occupied {
    fill: var(--eicasWhite);
}

b787-10-sys-element #Pages #AIR_Page #white-lines path {
    stroke-width: 3;
    stroke: var(--eicasWhite);
    fill: none;
}

b787-10-sys-element #Pages #AIR_Page #green-lines path {
    stroke-width: 9;
    stroke: var(--eicasGreen);
    fill: none;
}

b787-10-sys-element #Pages #AIR_Page #green-lines circle {
    stroke-width: 3;
    stroke: var(--eicasGreen);
    fill: var(--eicasBlack);
}

b787-10-sys-element #Pages #AIR_Page #green-lines #r-pack,
b787-10-sys-element #Pages #AIR_Page #green-lines #l-pack {
    stroke-width: 3;
    stroke: var(--eicasGreen);
    fill: var(--eicasBlack)
}

b787-10-sys-element #Pages #AIR_Page #fuselage path {
    stroke: var(--eicasBlue);
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    fill: var(--eicasDarkGrey)
}

b787-10-sys-element #Pages #AIR_Page #boxes #boxes-top rect {
    stroke: var(--eicasBlue);
    stroke-width: 3px;
    fill: var(--eicasBlack);
}
b787-10-sys-element #Pages #AIR_Page #boxes #boxes-top path {
    stroke: var(--eicasBlue);
    stroke-width: 3px;
    fill: var(--eicasBlack);
}

b787-10-sys-element #Pages #AIR_Page #boxes #boxes-bottom rect {
    stroke: var(--eicasBlue);
    stroke-width: 3px;
    fill: var(--eicasBlack);
}

b787-10-sys-element #Pages #AIR_Page #boxes #boxes-bottom rect#air-distribution {
    stroke: var(--eicasGreen);
    stroke-width: 3px;
    fill: var(--eicasBlack);
}

b787-10-sys-element #Pages #AIR_Page #static-texts text {
    fill: var(--eicasGreen);
}

b787-10-sys-element #Pages #AIR_Page #static-texts #titles-blue text {
    fill: var(--eicasBlue);
    text-align:center;
    text-anchor:middle;
    font-size: 24px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #titles-green text {
    fill: var(--eicasGreen);
    text-align:center;
    text-anchor:middle;
    font-size: 24px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #load-shed text {
    fill: var(--eicasWhite);
    text-align:center;
    text-anchor:middle;
    font-size: 24px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #temporary-hidden > text {
    visibility: hidden;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #temperatures-selected text {
    fill: var(--eicasMagenta);

    font-size: 24px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #temperatures-actual text {
    fill: var(--eicasWhite);
    font-size: 32px;
}

b787-10-sys-element #Pages #AIR_Page #static-texts #top-texts text {
    fill: var(--eicasWhite);
    text-align:center;
    text-anchor:middle;
    font-size: 32px;
}

/* font-weight:500;font-size:24px;line-height:1.25;font-family:Roboto;-inkscape-font-specification:'Roboto Medium'"*/
