@font-face {
    font-family: "BoeingEICAS";
    src: url("/Fonts/BoeingEICAS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#Mainframe {
    width: 100%;
    height: 100%;
}

#Electricity {
    width: 100%;
    height: 100%;
    vertical-align: top;
    background-color: #5c656f;
}

#Electricity[state=off] {
    display: none;
}

.fms-container {
    display: inline-block;
    vertical-align: top;
    width: 97.5%;
    height: 100%;
    margin: 20px;
    margin-top: 31px;
    font-family: BoeingEICAS;
    font-size: 25px;
}

.fms-split {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 100%;
    margin: -10px;
    background-color: #afaebf;
    border-right: 3px solid black;
    border-left: 1px solid black;
}

.fms-header {
    margin-bottom: 3px;
}

.fms-time {
    display: inline-block;
    width: 48.5%;
    text-align: left;
}

.fms-date {
    display: inline-block;
    width: 48.5%;
    text-align: right;
}

.fms-side-container {
    display: inline-block;
    width: 7%;
}

.fms-side-container-mark {
    display: inline-block;
    width: 3%;
    margin-right: -5px;
    margin-left: -3px;
}

.fms-mark {
    height: 2px;
    width: 15px;
    background-color: white;
    margin-bottom: 52px;
    transform: translateY(48px);
}

.fms-side-container.left {
    padding-left: 2px;
}

.fms-side-container.right {
    padding-left: 0px;
}

.text-area {
    background-color: black;
    border: 2px solid white;
}

.fms-screen-container {
    display: inline-block;
    width: 74%;
    margin-top: 0px;
    margin-left: -5px;
    margin-right: -3px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.fms-screen-header {
    margin-top: -2px;
    margin-bottom: -5px;
}

.fms-screen-title {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: 48%;
    margin: 0;
    margin-left: 24%;
    font-size: 20px;
    letter-spacing: 0px;
    transform: scaleY(1.2);
}

.fms-screen-page {
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    width: 24%;
    padding-right: 18px;
    font-size: 20px;
    letter-spacing: 0px;
    transform: scaleY(1.2);
}

.fms-screen-label-container {
    height: 24px;
}

.fms-screen-label {
    display: inline-block;
    white-space: nowrap;
    width: 22.5%;
    transform: scaleY(1.4);
    font-size: 16px;
    margin: 0;
    letter-spacing: 2px;
}

.fms-screen-line-container {
    height: 30.5px;
    transform: scaleY(1.3);
}

.fms-screen-line {
    display: inline-block;
    white-space: nowrap;
    width: 22.5%;
    font-size: 20px;
    margin: 0;
}

.fms-io-buffer {
    margin-top: 5px;
    margin-left: 15%;
    padding-left: 5px;
    width: 69%;
    height: 35px;
}

.col-0 {
    text-align: left;
    padding-left: 8px;
    overflow: visible;
}

.fms-screen-label.col-0 {
    padding-left: 20px;
}

.col-1 {
    text-align: right;
    padding-right: 16px;
    direction: rtl;
}

.col-2 {
    text-align: left;
    padding-left: 26px;
}

.fms-screen-label.col-2 {
    padding-left: 40px;
}

.col-3 {
    text-align: right;
    padding-right: 11px;
    direction: rtl;
}

.fms-button.active {
    background-color: #8d828a;
    border-style: outset;
    border-width: 3px;
    border-color: #736f6f;
    border-top-color: #534f4f;
    border-left-color: #736f6f;
    border-right-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
    outline: 2px solid black;
}

.fms-button {
    background-color: transparent;
    border: 2px solid cyan;
}

.fms-button.side {
    display: block;
    width: 32px;
    height: 41.5px;
    margin-bottom: 13px;
    transform: translateY(14px);
}

.fms-button.page-button {
    width: 12%;
    height: 60px;
    margin-right: -12px;
    margin-top: -14px;
    margin-bottom: -7px;
    font-size: 16px;
    color: white;
}

.fms-button.page-button.fms-empty {
    visibility: hidden;
}

.fms-button.page-button.fms-exec {
    padding-top: 12px;
}

.fms-exec-light {
    position: absolute;
    top: 461px;
    right: 23px;
    width: 60px;
    height: 14px;
    background-color: black;
    z-index: 2;
}

.fms-button-container {
    margin-left: 2%;
}

.fms-prev-page {
    white-space: normal;
    vertical-align: bottom;
}

.fms-next-page {
    white-space: normal;
    vertical-align: bottom;
}

/** FMC line colors */


.white {
    color: white;
}

.blue {
    color: #99ceff;
}

.yellow {
    color: #f9dd02;
}

.green {
    color: #1daa05;
}

.red {
    color: #ff886d;
}

.magenta {
    color: magenta;
}

.small {
    font-size: 16px;
}

.medium-size {
    font-size: 18px;
}

.settable {
    display: inline-block;
    border-style: inset;
    border-width: 3px;
    border-color: #aaaaaa;
    background-color: #606060;
    padding-left: 6px;
    padding-right: 6px;
    height: 24px;
    margin-top: 6px;
}

.settable > span {
    display: block;
    position: relative;
    padding: 3px 0;
    line-height: 15px;
}

#Borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 4px ridge white;
    pointer-events: none;
}