body {
    background-color: black;
}

@font-face {
    font-family: "Roboto";
    src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.altitudes {
        margin-top: 50px;
        width: 70px;
        height: 100%;
        background: gray;
        position: absolute;
        z-index: 50;
        color: white;


}

#currentAlt {
    font-family: Roboto-Light;
    position: fixed;
    top: 40px;
    left: 15px;
    width: 3cm;
    height: 60px;
    color: magenta;
    background-color: transparent;
    font-size: large;
    z-index: 9999;

}
#altitude1 {
    margin-top: 21px;
    margin-bottom: 167px;
    
}
#altitude2 {
    margin-top: 21px;
    margin-bottom: 190px;
    
}
#altitude3 {
    margin-top: 21px;
    margin-bottom: 500px;
   
}
#altitude4 {
    margin-bottom: 189px;
    
}

#altMrk1 {
    position: absolute;
    right: 0px;
    top: 30px;
    height: 1.5px;
    width: 20px;
    background-color: white;

}

#altTick1 {
    position: absolute;
    right: 0px;
    top: 120px;
    height: 1px;
    width: 10px;
    background-color: white;

}

#altTick2 {
    position: absolute;
    right: 0px;
    top: 320px;
    height: 1px;
    width: 10px;
    background-color: white;


}

#altTick3 {
    position: absolute;
    right: 0px;
    top: 550px;
    height: 1px;
    width: 10px;
    background-color: white;

}
#altMrk2 {
    position: absolute;
    right: 0px;
    top: 215px;
    height: 1.5px;
    width: 20px;
    background-color: white;

}
#altMrk3 {
    position: absolute;
    right: 0px;
    top: 423px;
    height: 1.5px;
    width: 20px;
    background-color: white;

}
#altMrk4 {
    position: absolute;
    right: 0px;
    top: 71.5%;
    height: 1.5px;
    width: 20px;
    background-color: white;

}

.distances {
    color: white;
    text-align: bottom;
    width: 100%;
    height: 30px;
    background-color: gray;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-right: auto;
    z-index: 5000;
}

#distance1 {
    text-align: center;
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    margin-top: 15px;

}

#distance2 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    margin-top: 15px;

}

#distance3 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    margin-top: 15px;
}

#distance4 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    margin-top: 15px;
}

#distance5 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    margin-top: 15px;
}

#waypoint1 {
    text-align: center;
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 0%;
    

}

#waypoint2 {
    color: magenta;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 23.2%;

}

#waypoint3 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 35%;
}

#waypoint4 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 43%;
}

#waypoint5 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 48%;
}

#waypoint6 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 53%;
}

#waypoint7 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 58%;
}

#waypoint8 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 63%;
}

#waypoint9 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 68%;
}

#waypoint10 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 73%;
}

#waypoint11 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 78%;
}

#waypoint12 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 83%;
}

#waypoint13 {
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 88%;
}


#const1 {
    text-align: center;
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 3%;
    top: 5%;
    

}

#const2 {
    color: magenta;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 23%;
    top: 3%;

}

#const3 {
    color: white; 
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 35%;
    top: 3%;
}

#const4 {
    color: white;
    text-align: center;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 62%;
    top: 3%;
}

#const5 {
    text-align: center;
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 40%;
    top: 3%;
}

#const9 {
    text-align: center;
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 60%;
    top: 3%;
}

#const12 {
    text-align: center;
    color: white;
    width: 20%;
    float: left;
    z-index: 100;
    position: fixed;
    left: 75%;
    top: 3%;
}

#line1 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 10%;
    margin-top: 45px;
    margin-left: -3px;
    top: 0;
    z-index: 30;
  }

  #line2 {
    border-left: 3px dashed magenta;
    height: 100%;
    position: fixed; 
    left: 25%;
    margin-top: 45px;
    top: 0;
  }

  #line3 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 37%;
    margin-top: 45px;
    top: 0;
  }

  #line4 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 45%;
    margin-top: 45px;
    top: 0;
  }

  #line5 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 50%;
    margin-top: 45px;
    top: 0;
  }

  #line6 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 55%;
    margin-top: 45px;
    top: 0;
  }



  #line7 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 60%;
    margin-top: 45px;
    top: 0;
  }



  #line8 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 65%;
    margin-top: 45px;
    top: 0;
  }



  #line9 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 70%;
    margin-top: 45px;
    top: 0;
  }



  #line10 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 75%;
    margin-top: 45px;
    top: 0;
  }



  #line11 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 80%;
    margin-top: 45px;
    top: 0;
  }



  #line12 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 85%;
    margin-top: 45px;
    top: 0;
  }



  #line13 {
    border-left: 3px dashed white;
    height: 100%;
    position: fixed;
    left: 90%;
    margin-top: 45px;
    top: 0;
  }



  



#distMrk1 {
    border-left: 1.5px solid white;
    height: 15px;
    position: absolute;
    left: 10%;

  }

  #distTick1 {
    border-left: 1px solid white;
    height: 7px;
    position: absolute;
    left: 20.5%;
  }

  #distMrk2 {
    border-left: 1.5px solid white;
    height: 15px;
    position: absolute;
    left: 30%;

  }
#distTick2 {
    border-left: 1px solid white;
    height: 7px;
    position: absolute;
    left: 40.5%;
}
  #distMrk3 {
    border-left: 1.5px solid white;
    height: 15px;
    position: absolute;
    left: 50%;

  }

  #distMrk4 {
    border-left: 1.5px solid white;
    height: 15px;
    position: absolute;
    left: 70%;
  }

  #distMrk5 {
    border-left: 1.5px solid white;
    height: 15px;
    position: absolute;
    left: 89.75%;


  }
  
  #planemarker1 {
    width: 0;
    height: 0;
    position: fixed;
    border-top: 25px solid transparent;
    border-left: 50px solid white;
    top: 21.75%;
    left: 15%;
  }

  #planemarker2 {
    width: 0;
    height: 0;
    position: fixed;
    border-top: 20px solid transparent;
    border-left: 40px solid black;
    top: 22%;
    left: 15.2%;
    z-index: 25;
  }

  #planevd {
    transform: rotate(15deg);
    border-left: 200px solid white;
    height: 3px;
    position: fixed;
    left: 19.2%;
    top: 25.5%;
    z-index: 30;
    
    
  }

  #vPath1 {
    transform: rotate(15deg);
    border-left: 300px solid magenta;
    height: 3px;
    position: fixed;
    left: 24%;
    top: 27.8%;
    z-index: 29;
    
  }

  #vPath2 {
    border-left: 300px solid magenta;
    height: 3px;
    position: fixed;
    left: 47%;
    top: 30.8%;
    z-index: 29;
    
  }

  #vPath3 {
    transform: rotate(20deg);
    border-left: 208px solid magenta;
    height: 3px;
    position: fixed;
    left: 69.3%;
    top: 33.5%;
    z-index: 29;
    
  }

  #vPath4 {
    border-left: 66px solid magenta;
    height: 3px;
    position: fixed;
    left: 84.8%;
    top: 36.2%;
    z-index: 29;
    
  }

#vConst1{
    color: magenta;
    border-style: dashed none none none;
    border-width: 3px;
    width: 100%;
    position: absolute;
    bottom: 69%;
}

#aglLine {
    color: #00ff00;
    border-style: dashed none none none;
    border-width: 3px;
    width: 100%;
    position: fixed;
    bottom: 2.5%
}

#tdMarker {
    font-family: Arial, Helvetica, sans-serif;
    color: #00ff00;
    text-align: center;
    position: fixed;
    top: 29.5%;
    left: 72%;
}


#aglMarker {
    transform: rotate(225deg);
    width: 0;
    height: 0;
    position: fixed;
    border-left: 30px solid #00ff00;
    border-top: 30px solid transparent;
    border-left: 50px solid transparent #00ff00;
    bottom: 1.5%;
    left: 3.5%;
    z-index: 4400;
  }

  #aglMarker2 {
    transform: rotate(225deg);
    width: 0;
    height: 0;
    position: fixed;
    border-left: 20px solid gray;
    border-top: 20px solid transparent;
    border-left: 50px solid transparent #00ff00;
    bottom: 2%;
    left: 4%;
    z-index: 4400;
  }


  #constraintMark1 {
    transform: rotate(90deg);
    width: 40px;
    height: 3px;
    margin-top: 383px;
    margin-left: 41px;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background: magenta;
    color: gray;
    font-size: 1px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    z-index: 5000;
  }

  #constraintMark1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid gray;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  #pageSep {
    border-top: solid 1px white;
    width: 1440px;
    z-index: 50;
    left: 0%;
    top: 0;
  }
  
